[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensearch-py = { extras=["async"], version="*", git="https://github.com/opensearch-project/opensearch-py" }
boto3 = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3"
