[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensearch-py = { extras=["async"], version="2.2.1" }
boto3 = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3"